*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f30707;
    background-image: linear-gradient(49deg, #f30707 0%, #f30707 50%, #f30707 100%);
    color: white;
    background-image: url('https://img.freepik.com/vetores-gratis/fundo-preto-com-malha-de-baixo-poli-vermelho-brilhante_1017-20215.jpg?w=2000');
    background-position: center;
}  
main{
    margin: auto;
    padding: 10px;
    width: 500px;
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(3px) saturate(141%);
    -webkit-backdrop-filter: blur(3px) saturate(141%);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}
.divAltura, .divPeso, .divCalc{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, button{
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}
button{
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: black;
    color: #f30707;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    
}
button:hover {
    box-shadow: 0 0 10px #f30707, 0 0 25px #f30707, 0 0 50px #f30707;
    transition-delay: 0.6s;
}
button span {
    position: absolute;
}
button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f30707);
}
button:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
}
   
   button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f30707);
}
   
   button:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
}
   
   button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f30707);
}
   
   button:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
}
   
   button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f30707);
}
   
   button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
}
   
   button:active {
    background: #f30707;
    background: linear-gradient(to top right, #f30707, #f30707);
    color: white;
    box-shadow: 0 0 8px #f30707, 0 0 8px #f30707, 0 0 8px #f30707;
    transition: 0.1s;
}
   
   button:active span:nth-child(1) 
   span:nth-child(2) 
   span:nth-child(2) 
   span:nth-child(2) {
    transition: none;
    transition-delay: none;
}
@media (max-width: 500px){
    body, input, button {
        font-size: 15px;
    }
}
